.error {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem;
    background-color: #495057;
    border-radius: 100px;
    font-family: "open-sans";

    display: flex;
    justify-content: center;
    align-items: center;
}